@page
@model MushroomForum.Areas.Identity.Pages.Account.Manage.AchievementsModel
@{
    ViewData["Title"] = "Osiągnięcia";
    ViewData["ActivePage"] = ManageNavPages.Achievements;
}

<h2>Osiągnięcia</h2>

<hr />

<h4>Zdobyte osiągnięcia - (@Model.AchievedAchievements.Count)</h4>
@if (Model.AchievedAchievements.Any())
{
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        @foreach (var achievement in Model.AchievedAchievements)
        {
            <div class="col">
                <div class="card card-sitecolumns text-center h-100 shadow-sm">
                    <div class="card-body card-body-sitecolumns d-flex flex-column">
                        <h5 class="card-title">@achievement.Name</h5>
                        <p class="card-text card-text-sitecolumns flex-grow-1">@achievement.Description</p>
                    </div>
                    @if (!string.IsNullOrEmpty(achievement.UnlocksAvatarIcon))
                    {
                        <div class="card-footer card-header-sitecolumns small text-muted">
                            Odblokowuje avatar
                        </div>
                    }
                </div>

            </div>
        }
    </div>
}
else
{
    <p>Brak zdobytych osiągnięć.</p>
}

<hr />

<h4>Niezdobyte osiągnięcia - (@Model.UnachievedAchievements.Count)</h4>
@if (Model.UnachievedAchievements.Any())
{
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        @foreach (var achievement in Model.UnachievedAchievements)
        {
            <div class="col">
                <div class="card card-sitecolumns text-center h-100 shadow-sm opacity-75">
                    <div class="card-body card-body-sitecolumns d-flex flex-column">
                        <h5 class="card-title">@achievement.Name</h5>
                        <p class="card-text card-text-sitecolumns flex-grow-1">@achievement.Description</p>
                    </div>
                    @if (!string.IsNullOrEmpty(achievement.UnlocksAvatarIcon))
                    {
                        <div class="card-footer card-header-sitecolumns small text-muted">
                            Odblokowuje avatar
                        </div>
                    }
                </div>

            </div>
        }
    </div>
}
else
{
    <p>Brak niezdobytych osiągnięć. Gratulacje!</p>
}
