@model IEnumerable<MushroomForum.Models.Post>

@{
    ViewData["Title"] = "Posty";
}

<h1>Posts</h1>

<p>
    <a asp-action="Create" class="nav-link button-green">Utwórz post</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.ForumThread)</th>
            <th>@Html.DisplayNameFor(model => model.User)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@(item.ForumThread?.Title ?? "No Thread")</td>
                <td>@(item.User?.UserName ?? "No User")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PostId" class="btn btn-sm btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PostId" class="btn btn-sm btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PostId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>